*{font-family: 'Montserrat', sans-serif;}
.header-blue{
    font-size: 2rem;
    border-radius: 5px;
    padding-top:2rem;
    padding-bottom:1rem;
    padding-left:20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.78);
    margin-top: 20px;
    display: block;
}
.add-pr{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.table-responsive{
    border: 2px solid rgba(255, 33, 92, 0.59);
    border-radius: 2px;
}