<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="shortcut icon" href="./asset/images/favicon.svg" type="image/x-icon"> -->
  <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="app.js"></script>
  <title>NEDESIGN</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!-- // start  -->
<div class="col-sm-12 ">
  <!-- // header  -->
  <h1 class="text-muted">Angular 2 Quickstart </h1>
  <span class="bg-primary header-blue">Current User : Khanhly@gmail.com</span>
  <!-- end header   -->

  <button type="button" class="btn btn-success add-pr" data-toggle="modal" data-target="#myModal">
    Add Product
  </button>
  <!-- // begin table  -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td>
          <button type="button"  class="btn btn-primary btn-sm" data-toggle="modal"
                  data-target="#myModalEdit" ng-click="selectUser(user)"><i class="fa-solid fa-pen-to-square"></i></button>
        </td>
        <td>
          <button type="button"  class="btn btn-danger btn-sm" data-toggle="modal"
                  data-target="#myModalDelete" ng-click="selectUser(user)"><i class="fa-solid fa-trash-can"></i></button>
        </td>
        <td>{{user.name}}</td>
        <td> ${{user.prince}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- // end  front-->
<!-- // modal  -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save User</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4">User Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="newUser.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">prince</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="newUser.prince">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" ng-click="addUser()" data-dismiss="modal">Add User</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit  -->
<div class="modal fade" id="myModalEdit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save User</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4">User Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="clickedUser.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">prince</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="clickedUser.prince">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" ng-click="editUser()" data-dismiss="modal">Add User</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- // delete  -->
<div class="modal fade" id="myModalDelete" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
        <strong >You want to delete it" {{clickedUser.name}} " User?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- .// end modal  -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>